/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Start*/

@font-face {
  font-family: norseBold;
  src: url(./Norse-Bold.otf);
}
:root {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}
main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.front {
  width: 30%;
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  text-align: center;
}

.formPage {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding: 0px 2rem;
  width: 80%;
}

.text p {
  margin-bottom: 20px;
}

.bottom {
  padding: 0px 2rem;
  margin-top: 2rem;
}

form {
  margin-top: 2.5rem;
}

form .form {
  background-color: white;
  box-shadow: 0px 2px 4px 1px rgb(218, 218, 218);
  padding: 1rem 2rem;
}

.form .row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

button {
  padding: 6px 25px;
  background-color: rgba(31, 136, 28, 0.829);
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px gray;
}

.input {
  display: flex;
  flex-direction: column;
  width: 30%;
}

form input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 6px;
}

#odin {
  color: white;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 14px 0px;
  font-family: norseBold;
  font-size: 4rem;
  margin-top: 9rem;
}

#logo {
  height: 5rem;
}

.credit,
.credit a {
  color: rgba(255, 255, 255, 0.795);
}

.credit {
  position: relative;
  top: 55%;
  font-size: smaller;
}

.text > span,
.text > p,
.form > span {
  font-weight: bold;
}

.row .input:last-child {
  margin-left: 3rem;
}

.form label {
  font-size: smaller;
  color: rgb(77, 77, 77);
}

.logIn {
  margin-top: 1rem;
}

.logInBtn {
  color: rgba(31, 136, 28, 0.829);
  font-weight: 550;
}

.logInBtn:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .form .row {
    flex-direction: column;
  }

  .input {
    width: 90%;
  }

  .row .input:last-child {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  main {
    flex-direction: column;
  }

  .front {
    width: 100%;
    height: 26%;
    font-size: x-small;
    margin-bottom: 15px;
  }
  .title {
    margin-top: 3rem;
  }

  .credit {
    top: 25%;
  }
}
